p {
    color: var(--primary-color);
    margin: var(--spacing);
}
h1 {
    color: var(--primary-color);
}

h2 {
    color: var(--secondary-color);
    margin: var(--spacing);
}

h3 {
    color: var(--secondary-color);
}

p {
    color: var(--primary-color);
}

.button {
    background: var(--primary-color);
    color: white;
}