:root {
    --primary-color: rgb(11, 0, 73);
    --secondary-color: rgb(100, 84, 194);
    --spacing: 50px;
}

h1 {
    color: var(--primary-color);
}

h2 {
    color: var(--secondary-color);
    margin: var(--spacing);
}

p {
    color: var(--primary-color);
}

.button {
    background: var(--primary-color);
    color: white;
}